@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.contents {
font-family: 'Raleway', Arial, sans-serif;
position: relative;
margin: 10px;
min-width: 150px;
max-width: 150px;
width: 100%;
color: #ffffff; /글씨 색
text-align: left;
background-color: #000000;
font-size: 13px;
}
.contents * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.4s ease-in;
transition: all 0.4s ease-in;
}
.contents img {
position: relative;
max-width: 100%;
vertical-align: top;
}
.contents figcaption {
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
padding: 20px 10px;
}
.contents figcaption:before,
.contents figcaption:after {
width: 1px;
height: 0;
}
.contents figcaption:before {
right: 0;
top: 0;
}
.contents figcaption:after {
left: 0;
bottom: 0;
}
.contents h3,
.contents p {
line-height: 1.5em;
}
.contents h3 {
margin: 0 0 5px;
font-weight: 700;
text-transform: uppercase;
}
.contents p {
font-size: 0.8em;
font-weight: 500;
margin: 0 0 15px;
}
.contents a {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 1;
}
.contents:before,
.contents:after,
.contents figcaption:before,
.contents figcaption:after {
position: absolute;
content: '';
background-color: #ffffff;
z-index: 1;
-webkit-transition: all 0.4s ease-in;
transition: all 0.4s ease-in;
opacity: 0.8;
}
.contents:before,
.contents:after {
height: 1px;
width: 0%;
}
.contents:before {
top: 0;
left: 0;
}
.contents:after {
bottom: 0;
right: 0;
}
.contents:hover img,
.contents.hover img {
opacity: 0.4;
}
.contents:hover figcaption,
.contents.hover figcaption {
opacity: 1;
}
.contents:hover figcaption:before,
.contents.hover figcaption:before,
.contents:hover figcaption:after,
.contents.hover figcaption:after {
height: 50%;
}
.contents:hover:before,
.contents.hover:before,
.contents:hover:after,
.contents.hover:after {
width: 50%;
}
.contents:hover:before,
.contents.hover:before,
.contents:hover:after,
.contents.hover:after,
.contents:hover figcaption:before,
.contents.hover figcaption:before,
.contents:hover figcaption:after,
.contents.hover figcaption:after {
opacity: 0.1;
}
.smallcontent img{
  box-shadow:1px 0px 0px #000;

}
.content3{
text-align: center;
width:100%;
  border: 1px solid black;
  float:left;
}
.picture{
width:30%;
height:400px;
float:left;
display:inline-block;
}
.text{
  display:table;
  width:30%;
  float:left;
  height:400px;

  background-color: #EAEAEA;
}
.textcontent{
display:table-cell;
  vertical-align:middle;
}
.bigcontent{
overflow:hidden;
text-align: center;
width:40%;
  float:left;
  height:400px;
}
.smallcontent{

width:33.3%;
display:flex;
height: 50%;

  float:left;

}
.contents img{
  box-shadow: 2px 2px 2px #000;
}
.content1{
  text-align: center;
  background: #EAEAEA;
}
.contents{
  display :inline-block;
  text-align: center;
  margin : 40px;
}
.content2{
  text-align: center;
  background: #EAEAEA;
}

a{
  text-decoration:none;
  color:black;
  font-weight:bold;
  font-size:15px;
}
  #topmenu ul, li{padding: 0;}
  #topmenu ul {
text-align: center;
    margin: 0 auto;
list-style: none;

  }
  #topmenu ul li{
    float:left;
    width:20%;
    line-height:50px;
  }
  #topmenu ul li a{
    display:inline-block;
  }
  #topmenu ul li a:hover {
    color: green;
  }
  #submenu ul, li{padding: 0;}
  #submenu ul {
text-align: center;
    margin:0 auto;
list-style: none;
  }
  #submenu ul li{
    float:left;
    text-align: center;
    width:11%;
    line-height:30px;
  }
  #submenu ul li a{
    display:inline-block;
  }
  #submenu ul li a:hover {
    color: red;
  }
  .smallcontent {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  min-width: 33.3%;
  max-width: 33.3%;
  max-height: 50%;
  width: 100%;
  color: #ffffff; /글씨 색
  text-align: left;
  background-color: #000000;
  font-size: 11px;
  }
  .smallcontent * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  }
  .smallcontent img {
  position: relative;
  width:110%;

  }
  .smallcontent figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 10px;
  }
  .smallcontent figcaption:before,
  .smallcontent figcaption:after {
  width: 1px;
  height: 0;
  }
  .smallcontent figcaption:before {
  right: 0;
  top: 0;
  }
  .smallcontent figcaption:after {
  left: 0;
  bottom: 0;
  }
  .smallcontent h3,
  .smallcontent p {
  line-height: 1.5em;
  }
  .smallcontent h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
  }
  .smallcontent p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
  }
  .smallcontent a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  }
  .smallcontent:before,
  .smallcontent:after,
  .smallcontent figcaption:before,
  .smallcontent figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
  }
  .smallcontent:before,
  .smallcontent:after {
  height: 1px;
  width: 0%;
  }
  .smallcontent:before {
  top: 0;
  left: 0;
  }
  .smallcontent:after {
  bottom: 0;
  right: 0;
  }
  .smallcontent:hover img,
  .smallcontent.hover img {
  opacity: 0.4;
  }
  .smallcontent:hover figcaption,
  .smallcontent.hover figcaption {
  opacity: 1;
  }
  .smallcontent:hover figcaption:before,
  .smallcontent.hover figcaption:before,
  .smallcontent:hover figcaption:after,
  .smallcontent.hover figcaption:after {
  height: 50%;
  }
  .smallcontent:hover:before,
  .smallcontent.hover:before,
  .smallcontent:hover:after,
  .smallcontent.hover:after {
  width: 50%;
  }
  .smallcontent:hover:before,
  .smallcontent.hover:before,
  .smallcontent:hover:after,
  .smallcontent.hover:after,
  .smallcontent:hover figcaption:before,
  .smallcontent.hover figcaption:before,
  .smallcontent:hover figcaption:after,
  .smallcontent.hover figcaption:after {
  opacity: 0.1;
  }
